*.swp
**/*.rs.bk

/target/
ci/tmp/
**/node_modules/

# Ingore nested cargo locks but keep the root one.
**/Cargo.lock
!Cargo.lock

# Local testing and development tools.
deps.dot
deps.svg
replicante.yaml
conf.d
devtools/data/
