*.log
*.swp
**/*.rs.bk

# Ingore nested cargo locks but keep the root & replidev ones.
**/Cargo.lock
!Cargo.lock
!devtools/replidev/Cargo.lock

# buildah requires targets path to be explicitly listed.
devtools/replidev/target/
target/


# Local testing and development tools.
devtools/deps/data
devtools/deps/pki
devtools/replicante.conf.d/
replicante.yaml
replidev.local.yaml
