*.log
*.swp
**/*.rs.bk

/target/
ci/tmp/
node_modules/

# Ingore nested cargo locks but keep the root one.
**/Cargo.lock
!Cargo.lock

# Ignore documentation's package-lock.json to avoig GitHub unfixed security issues.
docs/**/package-lock.json

# Local testing and development tools.
.env
deps.dot
deps.svg
replicante.yaml
devtools/replicante.conf.d/
