target/
*.log
*.swp
**/*.rs.bk

# IDE
.vscode/**
!.vscode/settings.json

# Ingore nested cargo locks but keep the root & replidev ones.
**/Cargo.lock
!Cargo.lock
!devtools/replidev/Cargo.lock


# Local testing and development tools.
devtools/deps/data
devtools/deps/pki
devtools/replicante.conf.d/

replicante.yaml
replidev.local.yaml

replicore.sqlite
