*.log
*.swp
**/*.rs.bk

ci/tmp/
node_modules/
target/

# Ingore nested cargo locks but keep the root one.
**/Cargo.lock
!Cargo.lock


# Local testing and development tools.
devtools/data
devtools/replicante.conf.d/

.env
deps.dot
deps.svg
replicante.yaml
