# Build master branch and versions tags (on top of PRs).
branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+$/


# Use latest available ubuntu (16.04).
dist: xenial


# Configure the build jobs.
language: rust
rust:
  - stable   # Target rust version.
  - 1.32.0   # Earliest supported rust version.
  - nightly  # "The Rust team appreciates" according to Travis.

matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true

script:
  - cargo build --verbose
  - cargo test --verbose
  - cargo clippy --verbose
