/* your custom css */
.fixedHeaderContainer {
  background-image: url('/docs/manual/img/gplay.png');
}


/* "Alert" block */
blockquote.danger {
  background-color: rgba(255, 100, 100, 0.3);
  border-left-color: rgb(255, 100, 100);
}

blockquote.info {
  background-color: rgba(100, 205, 255, 0.3);
  border-left-color: rgb(100, 205, 255);
}

blockquote.warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-left-color: rgb(255, 229, 100);
}


/* HTTP API styles (based on gitbook-rest) */
/* https://github.com/Emonadeo/gitbook-rest */
div.rest {
  display: grid;
  grid-template-columns: min-content min-content auto;
  grid-row-gap: 0.5em;
  line-height: normal;
}

div.rest > div {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.rest .rtl {
  text-align: right;
}

div.rest .method {
  font-weight: 700;
  color: white;
  text-align: center;
  border-radius: 0.2em 0 0 0.2em;
}

div.rest .url {
  flex: 1;
  font-family: monospace;
}

div.rest .desc {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  border-radius: 0 0.2em 0.2em 0;
  padding-left: 0 !important;
}

div.rest .method.x {
  background-color: #607D8B;
}

div.rest .desc.x {
  color: #607D8B;
}

div.rest .x {
  background-color: #e1e7ea;
}

div.rest .method.get {
  background-color: #4078c0;
}

div.rest .desc.get {
  color: #4078c0;
}

div.rest .get {
  background-color: #d9e4f2;
}

div.rest .method.post {
  background-color: #4caf50;
}

div.rest .desc.post {
  color: #4caf50;
}

div.rest .post {
  background-color: #dcefdc;
}

div.rest .method.put {
  background-color: #f0b400;
}

div.rest .desc.put {
  color: #c90;
}

div.rest .put {
  background-color: #fff2cc;
}

div.rest .method.patch {
  background-color: #673AB7;
}

div.rest .desc.patch {
  color: #673AB7;
}

div.rest .patch {
  background-color: #e2d8f3;
}

div.rest .method.delete {
  background-color: #cb2431;
}

div.rest .desc.delete {
  color: #cb2431;
}

div.rest .delete {
  background-color: #f7d4d7;
}


/* Refine styles based on screen size */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
